@import 'colors'

.data 
    width: 90%
    margin: auto
    padding-top: 2rem
.title
    color: $zulOscuro
    font-size: 1.2rem
    padding: 1rem 0
    font-weight: bold
.tablaData
    color: #828080
    font-size: 0.9rem
    border-collapse: collapse 
    position: relative
    overflow-y: hidden
    overflow-x: auto
    width: 100%

    th
        font-weight: bold
        text-transform: lowercase
        border-bottom: 1px solid #cccccc
        background-color: $azulmedio
        color: white
        padding: 0.3rem
        
    td
        text-transform: lowercase
        text-align: center
        border-bottom: 1px solid #cccccc
        padding: 0.2rem
        padding: 0.8rem
.social
    text-align: center
    position: fixed
    .card 
        background-color: #e3e0e0
        border-radius: 0.5rem
        padding: 1rem
        margin: 0.5rem
.moneda
    font-size: 3rem
    text-align: center
    margin: 2rem 0
    color: #ffbc00d9
    font-weight: bold