@import 'colors'
.menu
    background-color: $azul
    width: 12%
    height: 97vh
    float: left
    padding-top: 3vh
    box-shadow: 2px 2px 5px #999
    position: fixed
    .list
        margin-top: 2.2rem
        font-size: 1.2rem
        color: $gris
    .list2
        margin-top: 2.2rem
        font-size: 1.2rem
        color: $gris
        max-height: 55vh
        overflow-y: auto
    .activo
        background-color: $blancoOpacidad
        border-left: 5px solid white
        a
            color: white
        .icono
            color: white
    a
        color: $gris
    .logo
        width: 60%
        margin: 0 auto
        img
            width: 100%
    .icono
        color: $gris
        margin-left: 2rem
        width: 1.5rem
    .menuLis
        margin-left: 1rem
    li
        padding: 0.6rem 0rem
    .version
        position: absolute
        bottom: 0
        width: 15%
        text-align: center
        float: left
        margin: 0 auto
        .menuLis
            margin-left: 0.2rem
        .text
            text-align: center
            color: $amarillo
            font-size: 0.8rem
            padding: 0
        .icono
            margin-left: 0rem

.contenedor
    width: 86.5%
    height: 100vh
    float: left
    margin-left: 12%

@media screen and (min-device-width : 700px) and (max-device-width : 1400px) 
    .menu
        .list
            font-size: 1rem
        .list2
            font-size: 1rem
        .icono
            margin-left: 0.7rem
